@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 5ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 5ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --clr-primary-800: #191a19;
  --clr-primary-700: #383936;
  --clr-primary-600: #565854;
  --clr-primary-500: #757771;
  --clr-secondary-100: #fff;
  --clr-secondary-150: #eeefeb;
  --clr-secondary-200: #dddfd7;
  --clr-secondary-300: #d1d4c9;
  --clr-secondary-400: #b2b5ac;
  --clr-accent-600: #1e5128;
  --clr-accent-500: #1f9c2e;
  --clr-accent-400: #1fe633;
  --clr-accent-200: #64ffda;
  --clr-neon: hsl(317 100% 54%);
  --clr-blue: #007af3;
  --clr-blue-dark: #006bd6;
  --ff-primary: "Merriweather", serif;
  --fs-primary-heading: clamp(1.5rem, 5vw, 3rem);
  --fs-secondary-heading: var(--fs-400);

  --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
  --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
  --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
  --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);
}

.serif {
  font-family: "Merriweather", serif;
}

.blob {
  --mouse-x: 0px;
  --mouse-y: 0px;

  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.blob::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.15),
    transparent 40%
  );
}

.container-md {
  width: 92%;
  margin-inline: auto;
}
@media (min-width: 1080px) {
  .container-md {
    width: min(90%, 1440px);
  }
}

/* custom components */
.neon-button {
  padding: 1em 2em;
  border-radius: 0.5em;
  background-color: var(--clr-primary-800);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.5em 1em;
  position: relative;
  isolation: isolate;
  text-shadow: 0 0 0.0125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.25em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.neon-button a {
  color: var(--clr-secondary-100);
  text-decoration: none;
}

.neon-button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.5;
}

.neon-button::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-green {
  box-shadow: inset 0 0 0.25em 0 var(--clr-accent-200),
    0 0 0.5em 0 var(--clr-accent-200);
  border: var(--clr-accent-200) 0.125em solid;
}

.neon-green::before {
  background: var(--clr-accent-200);
}
.neon-green::after {
  box-shadow: 0 0 2em 0.5em var(--clr-accent-200);
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-primary-800);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 0.8;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 0.8;
}

.primary-button {
  border-radius: 0.5em;
  background-color: var(--clr-primary-800);
  border: var(--clr-accent-200) 0.125em solid;
  transition: background-color 300ms ease;
}
.primary-button:hover,
.primary-button:focus-visible {
  background-color: rgba(209, 212, 201, 0.3);
}

/* links */
.translate-link {
  text-decoration: none;
  color: var(--clr-secondary-100);
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    var(--clr-accent-200),
    var(--clr-accent-200)
  );
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.translate-link:hover {
  background-size: 100% 2px;
}
/* fonts */
.sans {
  font-family: "Work Sans", sans-serif;
  /* letter-spacing: -0.0075em; */
}

/* desktop icons */
.desktop-icons {
  display: none;
}

@media (min-width: 70em) {
  .desktop-icons {
    z-index: 999;
    display: block;
  }
  .desktop-icons .social-icons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    bottom: 30%;
    left: 20px;
    gap: 0.75em;
    z-index: 999;
  }
  .desktop-icons .social-icons::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 200px;
    background-color: var(--clr-secondary-300);
    top: 120%;
    left: 50%;
    transform: translateX(-100%);
  }
}

.featured-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 240px;
}
@media (min-width: 440px) {
  .featured-grid {
    grid-auto-rows: 280px;
  }
}
@media (min-width: 660px) {
  .featured-grid {
    grid-auto-rows: 320px;
  }
}

@media (min-width: 660px) {
  .featured-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 320px;
  }
  .featured-grid li {
    grid-column: 2 / 8;
  }
}

@media (min-width: 900px) {
  .featured-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 320px;
  }
  .featured-grid li {
    grid-column: span 4;
  }
  .featured-grid li:first-child {
    grid-column: 2/8;
  }
}

@media (min-width: 1180px) {
  .featured-grid {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 320px;
  }
  .featured-grid li:first-child {
    grid-column: span 4;
  }
  .featured-grid li:nth-child(2) {
    grid-column: span 4;
  }
  .featured-grid li:nth-child(3) {
    grid-column: span 3;
  }
  .featured-grid li:nth-child(4) {
    grid-column: span 3;
  }
  .featured-grid li:nth-child(5) {
    grid-column: span 2;
  }
}

.quote::after {
  content: "â€";
  position: absolute;
  color: white;
  opacity: 0.2;
  font-size: 64px;
  right: 10px;
  top: -10px;
}

/* footer*/
.primary-footer {
  border-top: 2px solid #ccc;
  color: var(--clr-secondary-100);
  padding: 2em 0;
}
.primary-footer a {
  color: var(--clr-secondary-100);
  text-decoration: none;
}
.primary-footer h2 {
  font-size: var(--fs-400);
}
.primary-footer .footer-form {
  display: flex;
  align-items: center;
}
.primary-footer .footer-form input {
  padding: 0.5em;
  border-radius: 0.5em;
}
.primary-footer .footer-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.primary-footer .footer-text {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.primary-footer .footer-text .social-icons2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: -moz-min-content;
  width: min-content;
}
.primary-footer .footer-text .footer-logo {
  height: auto;
  width: 50px;
  flex: 2;
}
.primary-footer .nav-el a {
  -webkit-text-decoration: underline rgba(0, 0, 0, 0);
  text-decoration: underline rgba(0, 0, 0, 0);
  text-underline-offset: 0.25em;
  transition: text-decoration-color 300ms;
}
.primary-footer .nav-el a:hover {
  text-decoration-color: var(--clr-accent-200);
}
.primary-footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5em;
  margin-top: 2.25em;
}
.primary-footer .footer-bottom .policy {
  display: flex;
  justify-content: space-between;
}
.policy > * {
  border: 1px solid var(--clr-accent-200);
  padding: 0 1em;
}

/* footer*/

/* mobile menu */
.mobile-nav-toggle {
  z-index: 20;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: all 300ms ease;
}
.mobile-nav-toggle:hover {
  background-color: rgba(25, 26, 25, 0.1);
}
.mobile-nav-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  position: relative;
  background: var(--clr-accent-200);
  border-radius: 3px;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.mobile-nav-toggle span:first-child {
  transform-origin: 50% 50%;
}
.mobile-nav-toggle span:last-child {
  transform-origin: 50% 50%;
}
.close span:first-child {
  transform: translateY(228%) rotate(45deg);
  opacity: 1;
}
.close span:nth-child(2) {
  opacity: 0;
  transform: scale(0.2, 0.2);
}
.close span:last-child {
  transform: translateY(-228%) rotate(-45deg);
  opacity: 1;
}

@media (max-width: 800px) {
  .mobile-nav {
    position: fixed;
    z-index: 19;
    max-width: 460px;
    height: 1000vh;
    width: 100%;
    background-color: var(--clr-primary-800);
    top: 0;
    right: 0;
    transform: translateX(100%);
    padding: 15vh 3em 0;
    box-shadow: none;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
    border-left: 2px solid #ffffff30;
  }
  .opened {
    transform: translateX(0%);
    box-shadow: 0 0 0 1000vw #00000050;
  }
}

.img-box {
  padding: 20px 20px 1.6rem;
  background-image: linear-gradient(to bottom, #ddd, #fff);
  width: 33%;
  flex: 1.2;
  border-radius: 25px;
}
.img-box img {
  width: 100%;
  height: auto;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}
.img-box img:hover {
  transform: perspective(1000px) rotateX(-5deg) rotateZ(-2deg) rotateY(5deg);
  transform-origin: 0 100%;
}
.img-box figcaption {
  font-size: 0.875rem;
  color: black;
  font-weight: bold;
  position: relative;
  top: 0.8rem;
}

/* progress bar on a blog article */
.progress-container {
  position: fixed;
  bottom: 0;
  height: 8px;
  width: 100vw;
}
.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #2dd4bf;
}

/* blog article */
.article h1,
.article h2,
.article h3 {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: black;
}
.article {
  font-size: var(--size-step-0);
  color: #1f2937;
  /* text-wrap: balance; */
}
.article p {
  line-height: 1.7;
}
.article h1 {
  font-size: var(--size-step-4);
  max-width: 20ch;
}
.article h2 {
  font-size: var(--size-step-3);
  max-width: 28ch;
}
.article h3 {
  font-size: var(--size-step-2);
  max-width: 28ch;
}

.article blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-1);
  color: black;
  max-width: 50ch;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.article :is(h1, h2, h3, blockquote) {
  --flow-space: 1.2em;
}
.article :is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

.article {
  max-width: 65ch;
  margin-inline: auto;
  padding-bottom: 30px;
}

a {
  color: currentColor;
  text-decoration-color: #2dd4bf;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

.article p:first-child {
  font-size: var(--size-step-1);
  font-style: italic;
  max-width: 50ch;
  /* text-wrap: balance; */
}

.article p:first-child + * {
  --flow-space: 2em;
}

.image-animate {
  animation: imageAnimate forwards linear 300ms;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes imageAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* progress bar on a blog article */
.progress-container {
  position: fixed;
  bottom: 0;
  height: 8px;
  width: 100vw;
}
.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #2dd4bf;
}
